body{
    background-color: rgb(238, 239, 241);
}

.grid{
    display: grid;
    height: 600px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}


.item1{
    grid-column: 1 / 4;
    background-color: #FF4945;
}

.item2{
    grid-column: 4 / 6;
    background-color:#FF4945;
}

.item3{
    grid-column: 1/4;
    grid-row: 2/4;
    background-color: #FFA931;
}
.item4{
    grid-column: 4/6 ;
    background-color: #9B0579;
}
.item5{
    grid-column: 4/6;
    background-color:#9B0579;
}
.item6{
    grid-column: 1/2;
    background-color: #00778F;
}
.item7{
    grid-column: 2/5;
    background-color:#00778F;
}
.item8{
    grid-column: 5/6;
    background-color:#00778F;
}